*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #404040;
    color: #ebebeb;
    font-family: 'Rubik', sans-serif;
}
header{
    box-shadow: 1px 0 10px #ebebeb;
    padding: 2rem;  
    height: 7rem;
}
.wrapper{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-weight: 300;
}
ul{
    list-style: none;
}
li{
    display: inline;
    margin: 0 12px;
    padding:10px 3px;
}
a{
    color: #ebebeb;
    text-decoration: none;
    transition: .4s ease-in-out;
    padding: 12px;
    text-align: center;
}
li:hover a{
    color: #404040;
}
li:hover{
    background-color: #ebebeb;
}
.menu-btn{
    outline: none;
    background-color: #ebebeb;
    border: none;
    width: 32px;
    border-radius: 5px;
    height: 3px;
    font-size: 25px;
    transition: .4s ease-in-out;
}
.menu-btn::after , .menu-btn::before{
    content: '';
    width: 32px;
    height: 3px;
    border-radius:5px ;
    margin: 10px 0;
    position: absolute;
    transition: .4s ease-in-out;
    background-color: #ebebeb;
}
.menu-btn::before{
    margin:-10px 0;
}
.menu-btn-div{
    padding: 13px 7px;
    cursor: pointer;
    display: none;
}
/*.bar{
    transform: rotate(90deg);
    width: 1px;
    transition: .4s ease-in-out;
    font-size: 19px;
    display: flex;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    height: 1px;
    margin: 3px;

}
button:hover .bar{
    flex-direction: column;
}
button:hover #first-bar{
    transform: rotate(0deg)
    translate(2px ,4px);
}
button:hover #second-bar{
    display: none;
}
button:hover #third-bar{
    transform: rotate(135deg);
}*/
@media screen and (max-width:1000px) {
    nav{
        transition:all .7s ease ;
        position: absolute;
        width: 300px;
        left: -20rem;
        top: 8rem;
        background-color: #ebebeb;
        opacity: 0;
    }
    .menu-btn-div{
        display: block;
    }
    a{
        color: #404040;
    }
    ul{
        width: 100%;
    }
    li{
        margin: 0;
        display: block;
        padding: 12px;
        text-align: center;
        width: 100%;
    }
li:hover a{
    color: #ebebeb;
}
li:hover{
    background-color: #404040;
}
}
.open{
    transform: translateX(-50px);
    background: transparent;
}
.open::after{
    transform:translate(50px , -10px) rotate(45deg) ;
}
.open::before{
    transform:translate(50px , 9px) rotate(-45deg) ;
}